/* Write your code here. */
.un-order-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-container-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
